requests          
instaloader             
pillow                 
python-geoip-geolite2  
beautifulsoup4         
torch             
opencv-python      
python-nmap            
shodan                
pyfiglet             
PyPDF2                
html2text          
stem                    
pynput               
pyttsx3                
pytest                